<div class="general">
   <h2>Shopping List</h2>
   <div class="general-description">
     <h3>Amount of food items to buy: <%= @foods.count %> </h3>
     <h3>Total value of food needed: $ <%= @total %></h3>
   </div>

   <div class="table">
<table>
<tr class="table-column-1">
<th>Food</th>
<th>Quantity</th>
<th>Price</th>
</tr>
<% @foods.each do |food| %>
  <tr class="table-column">
    <td> <%= food.name %> </td>
    <td> <%= food.quantity %> <%= food.measurement_unit %> </td>
    <td>$ <%= food.price*food.quantity %>  </td>
  </tr>
<%end%>
</table>

</div>
</div>